/* основной текст: #434455
вторичный текст: #2E2F42
background: #FFFFFF
второй бек: #F4F4FD
Акцент: #4D5AE5 */

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;

  --slate: #434455;
  --navy-blue: #2e2f42;
  --gray: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --navy-blue-modal: #2e2f42;
  --dairy: #fcfcfc;
  --black-color: #000000;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* header */

.logo {
  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--iris);
}

.logo-header {
  color: var(--navy-blue);
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--navy-blue);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
}
.contact-list,
.contact-list {
  font-weight: 400;
  line-height: 1.5;

  color: var(--slate);
}

.contact-list:hover,
.contact-list:focus {
  color: var(--ocean);
}

/* hero */

.hero {
  background-color: var(--gray);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.hero-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}

/* section */

.advantage-title {
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.2;
  color: var(--navy-blue);
}

.advantage-text {
  font-weight: 400;
  line-height: 1.5;
  color: var(--slate);
}

/* our team */

.section-bg {
  background-color: var(--cloud);
}

.team-list {
  background-color: var(--white);
}

.team-bg {
  background-color: var(--white);
}

.prof-name {
  font-weight: 400;
  line-height: calc(24 / 16);
}

/* footer */

.page-footer {
  background-color: var(--navy-blue);
}

.logo-footer {
  color: var(--cloud);
}

.footer-text {
  /* position: absolute; */
  font-weight: 400;
  line-height: calc(24 / 16);
  color: var(--cloud);
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.portfolio-text {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--slate);
}
